*.pyc
/IM/rspectra_calculations/rspectra.c
/IM/rspectra_calculations/rspectra.so
.idea
build/
test/test_calculate_ims/sample1/input/*.bin
test/test_calculate_ims/sample1/output/
test/test_calculate_ims/*.xml
test/test_calculate_ims/html*
test/test_calculate_ims/.coverage
test/test_calculate_ims/output/__pycache*
.cache/
*.sl
*.err
*.out
rrups.csv
.calculate_rrups.py.swp
*.log
runs/
**.so
**sample0

# special cases to unignore
!periods.out
.venv/
