*.pyc
rspectra_calculations/rspectra.c
rspectra_calculations/rspectra.so
computed_measures*/
.idea
build/
test/test_calculate_ims/sample1/input/*.bin
test/test_calculate_ims/sample1/output/
test/test_calculate_ims/*.xml
.cache/
