[build-system]
requires = ["setuptools", "wheel", "Cython"]
build-backend = "setuptools.build_meta"

[project]
name = "IM-calc"
version = "19.5.1"
description = "IM calculation code"
readme = "README.md"
