name: Deptry Dependency Check

on: [pull_request]
jobs:
  dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Install uv
      - uses: astral-sh/setup-uv@v4
      # Install project
      - run: uv sync --dev --all-extras
      # Run deptry to check that all dependencies are present.
      - run: uv run deptry . -ddg test -ddg dev
