name: Lint
on: [pull_request]

env:
  RUSTFLAGS: "-Dwarnings"

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: chartboost/ruff-action@v1

  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run Clippy
        run: cargo clippy --all-targets --all-features

  typecheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install project with types
        run: uv sync --all-extras --dev

      - name: Run type checking with ty
        run: uv run ty check

  dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      # Install uv
      - uses: astral-sh/setup-uv@v4
      # Install project
      - run: uv sync --dev --all-extras
      # Run deptry to check that all dependencies are present.
      - run: uv run deptry . -ddg test,dev,types

  numpydoc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: fd-find
          version: 1.0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          pip install numpydoc

      - name: Run Numpydoc Lint
        run: |
          fdfind . IM/ -E "__init__.py" --extension py | xargs numpydoc lint
